
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <a href="#" class="logo"><i class="fas fa-utensils"></i>food</a> 
      <nav class="navbar" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
    
            <a href="#" class="logo"><i class="fas fa-utensils"></i>food</a>    
            <a class="active" [routerLink]="['/home']">Home</a>
        
        
            <a class="active" [routerLink]="['/Fooditems']">Food Items</a>
        
            
            <a class="active" [routerLink]="['/register']">Register</a>
            

            <a class="active" [routerLink]="['/login']">Login</a>
          
          
            <a class="active"[routerLink]="['/about']">Aboutus</a>
         
         
            <a class="active" [routerLink]="['/contact']">Contactus</a>


            <a class="active" [routerLink]="['/admin']">Admin</a>

          
            
            
    
          <a></a>
              <a></a>
              <a></a>
      
   
      </nav>
  

  <br>
