<app-header></app-header>
<div>
    <img src="assets/aboutus.jpg"  style="width:100%;height: 600px; ">
    <div class="centered"><p> Welcome to<span> Kitchen Story....</span># Food made with love ....!!</p>
    <p>Eat Healthy, Stay Healthy!

        Eat right, Future bright
        
        Eat right. Live right.
        
        Eat right, be bright.
        
        Eat the best, leave the rest
        
        Eat wise, drop a size
        
        Too Fit to Quit   </p>
</div>
</div>
<app-footer></app-footer>