<app-header></app-header>
        
            


<!-- home section starts  -->

<section class="home" id="home">

  <div class="content">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- <h3>Welcome to Kitchen Story.... # Food made with love</h3> -->
      <h1 class="heading"> Welcome to<span> Kitchen Story....</span># Food made with love </h1>
      <p>Eat Healthy, Stay Healthy!

          Eat right, Future bright
          
          Eat right. Live right.
          
          Eat right, be bright.
          
          Eat the best, leave the rest
          
          Eat wise, drop a size
          
          Too Fit to Quit </p>
      
  </div>

  <div class="image">
      <img src="assets/home-img.png" alt="">
  </div>
       </section>
    <a class="btn btn-outline-primary" [routerLink]="['/Fooditems']" role="button">Order Know</a>


<!-- home section ends -->
  <!-- speciality section starts  -->

<section class="speciality" id="speciality">

    <h1 class="heading"> our <span>speciality</span> </h1>
  
    <div class="box-container">
  
        <div class="box">
            <img class="image" src="assets/s-img-1.jpg" alt="">
            <div class="content">
                <img src="assets/s-1.png" alt="">
                <h3>Tasty burger</h3>
                <p>All my friends’ pictures of giant sandwiches, colorful soups and chocolate chip cookies are seriously making me hungry..</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="assets/s-img-2.jpg" alt="">
            <div class="content">
                <img src="assets/s-2.png" alt="">
                <h3>Tasty pizza</h3>
                <p>All my friends’ pictures of giant sandwiches, colorful soups and chocolate chip cookies are seriously making me hungry..</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="assets/s-img-3.jpg" alt="">
            <div class="content">
                <img src="assets/s-3.png" alt="">
                <h3>Cold ice-cream</h3>
                <p>All my friends’ pictures of giant sandwiches, colorful soups and chocolate chip cookies are seriously making me hungry..</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="assets/s-img-4.jpg" alt="">
            <div class="content">
                <img src="assets/s-4.png" alt="">
                <h3>Cold drinks</h3>
                <p>All my friends’ pictures of giant sandwiches, colorful soups and chocolate chip cookies are seriously making me hungry..</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="assets/s-img-5.jpg" alt="">
            <div class="content">
                <img src="assets/s-5.png" alt="">
                <h3>tasty sweets</h3>
                <p>All my friends’ pictures of giant sandwiches, colorful soups and chocolate chip cookies are seriously making me hungry..</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="assets/s-img-6.jpg" alt="">
            <div class="content">
                <img src="assets/s-6.png" alt="">
                <h3>healty breakfast</h3>
                <p>All my friends’ pictures of giant sandwiches, colorful soups and chocolate chip cookies are seriously making me hungry..</p>
            </div>
        </div>
  
    </div>
  
  </section>
  
  <!-- speciality section ends -->      

<!-- popular section starts  -->

<section class="popular" id="popular">

  <h1 class="heading"> most <span>popular</span> foods </h1>

  <div class="box-container">

      <div class="box">
          <span class="price"> 50₹ - 250₹  </span>
          <img src="assets/p-1.jpg" alt="">
          <h3>tasty burger</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          
          <a class="btn btn-outline-primary" [routerLink]="['/Fooditems']" role="button">Order now</a>

      </div>
      <div class="box">
          <span class="price"> 50₹ - 850₹ </span>
          <img src="assets/p-2.jpg" alt="">
          <h3>tasty cakes</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a class="btn btn-outline-primary" [routerLink]="['/Fooditems']" role="button">Order now</a>
      </div>
      <div class="box">
          <span class="price"> 50₹ - 250₹ </span>
          <img src="assets/p-3.jpg" alt="">
          <h3>tasty sweets</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a class="btn btn-outline-primary" [routerLink]="['/Fooditems']" role="button">Order now</a>
      </div>
      <div class="box">
          <span class="price"> 50₹ - 250₹ </span>
          <img src="assets/p-4.jpg" alt="">
          <h3>tasty cupcakes</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a class="btn btn-outline-primary" [routerLink]="['/Fooditems']" role="button">Order now</a>
      </div>
      <div class="box">
          <span class="price"> 50₹ - 250₹</span>
          <img src="assets/p-5.jpg" alt="">
          <h3>cold drinks</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a class="btn btn-outline-primary" [routerLink]="['/Fooditems']" role="button">Order now</a>
      </div>
      <div class="box">
          <span class="price"> 50₹ - 250₹ </span>
          <img src="assets/p-6.jpg" alt="">
          <h3>cold ice-cream</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a class="btn btn-outline-primary" [routerLink]="['/Fooditems']" role="button">Order now</a>
      </div>

  </div>

</section>

<!-- popular section ends -->

<app-footer></app-footer>
  <router-outlet></router-outlet>